<div class="wrapper analyze">
  <div class="content">
    <h2>You tweet about:</h2>
    <ul class='taxonomy'>
    <li>
      <span class='label'><b>Topic</b></span>
        <span class='score'><b>Score (0 to 1)</b></span>
    </li>
    <% @analysis[:content_match].each do |item| %>
      <li>
        <span class='label'><%= item['label'] %></span>
        <span class='score'><%= item['score'].to_f.round(2) %></span>
      </li>
    <% end %>
    </ul>

    <h1>Top <%= @analysis[:brands].count %> stocks recommended for you:</h1>

    <ul class='brands'>
    <% @analysis[:brands].each do |brand| %>
      <li>
        <label>
          <% puts brand.last %>
          <%= brand.last[:name] %> (<%= brand.last[:ticker] %>)
        </label>
        <p>Match score: <%= brand.last['score'].to_f.round(2) %></p>
        <p>Category: <%= brand.last[:category].join(', ') %></p>
      </li>
    <% end %>
    </ul>
  </div>
  <div class='wtf'>
    <h2>What do these match scores mean?</h2>
    <p>Our match score is determined by our sophisticated algorithm. The higher the match score, the more we believe this brand matters to you.</p>
  </div>
</div>


<script>
setTimeout(function() {
  var boxes = $('.brands li');
  var heights = [];
  for (var i=0; i < boxes.length; i++) {
    heights.push($(boxes[i]).height());
  }
  console.log(heights, Math.max.apply(null,heights))
  var height = Math.max.apply(null, heights);
  $('.brands li').css('height', height);
}, 300);
</script>
