<div class="wrapper home">
  <div class="main">
    <h1>The Social Stock Matchmaker</h1>

    <div class="cta">
      <a href="">Learn more</a>
      <a href="/auth/twitter" title='Sign in with Twitter'>Get started</a>
    </div>
  </div>
</div>

<div class="about">
  <ul>
    <li>
      <div class='step'><span>1</span></div>
      <p>Sign in with Twitter</p>
    </li>
    <li>
      <div class='step'><span>2</span></div>
      <p>Find influencers to follow</p>
    </li>
    <li>
      <div class='step'><span>3</span></div>
      <p>Get stock matches for your personality</p>
    </li>
  </ul>

  <div class="cta">
    <h2>The Social Stock Matchmaker</h2>
    <a href="/auth/twitter">Log in with Twitter</a>
  </div>
</div>
